node_modules/
out/

scripts/
benchmarks/
tests/
tests_out/
plugins/

.git/
.github/

.devcontainer/
.vscode/
.claude/

oxlintrc.json
prettier.config.js
.prettierignore
.eslintignore
*.config.mjs

README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
AUTHORS
LICENSE
signature-header.txt
typedoc.json

.npmignore
.ignore
.gitignore
shell.nix
pm2-configs/
list.env
config.yaml
docker-compose.yml
