{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": false
      },
      "transform": {
        "legacyDecorator": false,
        "decoratorMetadata": false
      },
      "target": "es2020",
      "keepClassNames": false,
      "loose": false
    },
    "module": {
      "type": "commonjs",
      "strict": false,
      "strictMode": false,
      "lazy": false,
      "noInterop": false
    },
    "sourceMaps": "inline"
  }