name: release
on:
  push:
    tags:
      - "*"

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm i
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
  create-release:
    name: Create Github Release
    needs: publish-npm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: "Patch note will come..."
          draft: false
          prerelease: false

  build-binaries:
    name: Create Binaries
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.4.1
        uses: actions/setup-node@v2
        with:
          node-version: 16.4.1
      - uses: olegtarasov/get-tag@v2.1
        id: tagName
      - run: npm i --production
      - run: npm i -g pkg@5.2.1
      - run: pkg -t node16-win-x64 ./bin/2015/loginServer.js --output ./bin/loginServer-${{ steps.tagName.outputs.tag }}.exe
      - run: pkg -t node16-win-x64 ./bin/2015/zoneServer.js --output ./bin/zoneServer-${{ steps.tagName.outputs.tag }}.exe
      - run: pkg -t node16-win-x64 ./bin/2015/h1emuServer.js --output ./bin/h1emuServer-${{ steps.tagName.outputs.tag }}.exe
      - run: pkg -t node16-win-x64 ./bin/2016/loginServer.js --output ./bin/loginServer-2016-${{ steps.tagName.outputs.tag }}.exe
      - run: pkg -t node16-win-x64 ./bin/2016/zoneServer.js --output ./bin/zoneServer-2016-${{ steps.tagName.outputs.tag }}.exe
      - run: pkg -t node16-win-x64 ./bin/2016/h1emuServer.js --output ./bin/h1emuServer-2016-${{ steps.tagName.outputs.tag }}.exe
      - name: Upload h1emuServer to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/h1emuServer-${{ steps.tagName.outputs.tag }}.exe
          asset_name: h1emuServer-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}
      - name: Upload zoneServer to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/zoneServer-${{ steps.tagName.outputs.tag }}.exe
          asset_name: zoneServer-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}
      - name: Upload loginServer to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/loginServer-${{ steps.tagName.outputs.tag }}.exe
          asset_name: loginServer-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}
      - name: Upload h1emuServer-2016 to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/h1emuServer-2016-${{ steps.tagName.outputs.tag }}.exe
          asset_name: h1emuServer-2016-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}
      - name: Upload zoneServer-2016 to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/zoneServer-2016-${{ steps.tagName.outputs.tag }}.exe
          asset_name: zoneServer-2016-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}
      - name: Upload loginServer-2016 to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/loginServer-2016-${{ steps.tagName.outputs.tag }}.exe
          asset_name: loginServer-2016-${{ steps.tagName.outputs.tag }}.exe
          tag: ${{ github.ref }}

build-docker-images:
    name: Create and push docker images
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.4.1
        uses: actions/setup-node@v2
        with:
          node-version: 16.4.1
      - uses: olegtarasov/get-tag@v2.1
        id: tagName
      - run: sudo apt update
      - run: sudo apt install -y docker.io
      - run: npm i
      - run: npm run build-docker-images
      - run: sudo docker login -u quentingruber -p ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: sudo docker image push h1emu/server:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/server-2016:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/login-server:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/login-server-2016:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/zone-server:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/zone-server-2016:${{ steps.tagName.outputs.tag }}
      - run: sudo docker image push h1emu/server:latest
      - run: sudo docker image push h1emu/server-2016:latest
      - run: sudo docker image push h1emu/login-server:latest
      - run: sudo docker image push h1emu/login-server-2016:latest
      - run: sudo docker image push h1emu/zone-server:latest
      - run: sudo docker image push h1emu/zone-server-2016:latest